<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>simpleChat</title>
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="css/ballon.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>

<body>
    <%- `こんにちは${name}さん!!` -%>
    <div id="log" class="log"></div>
    <form class="mui-form mui--text-center">
        <div class="mui-textfield">
            <div class="mui-divider"></div>
            <textarea placeholder="メッセージを入力" id="inputMessage"></textarea>
        </div>
        <button class="mui-btn mui-btn--danger" type="submit">送信</button>
    </form>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>