.log {
    padding: 20px;
}
.mymessage {
    display: table; 
    position: relative;
    margin: 15px 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #2196f3;
    font-size: 15px;
    margin-left: auto;
}
.mymessage:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #2196f3;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.message {
    display: table;
    position: relative;
    margin: 15px 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #f2f2f2;
    font-size: 15px;
    margin-right: auto;
}
.message:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #f2f2f2;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
